{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{{name}}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static "bootstrap/dist/css/bootstrap.min.css"%}">
        
    </head>
    <body>
        <h1>Welcome</h1>

        
    </body>
    <footer class="mt-auto text-white-50">
        <p>Copyright © {% now 'Y' %} <a href="" class="text-white">AutoMax</a> by <a href="https://preneure.com"
                class="text-white">Preneure.com</a></p>
    </footer>
</html>