{% extends "base.html" %}
{% load static %}

{% block title %}
<title>Automax {{carinfo.model}}</title>
{% endblock title %}

{% block content %}
<main>
    <section class = "card container col-xxl-8 px-4 py-5">
        <div class = "row flex-lg-row-reverse align-items-center g-5 py-5">
            <div class = "col-10 col-sm-8 col-lg-6">
                <img src="{{ carinfo.image.url }}" class="d-block mx-lg-auto img-fluid" width="1920" height="1080" loading="lazy">
            </div>
            <div class = "col-lg-6">
                <h1 class = "display-5 fw-bold lh-1 mb-3"> {{carinfo.brand}} {{carinfo.model}} {{carinfo.year}}</h1>
                <p  class = 'lead'>{{carinfo.seller.user.username}} {{carinfo.updated_time}}</p>
            </div>
        </div>
    <section>
        <div class = "bg-light">
            <div class = "container px-4 py-5">
                <h2 class="mb-3 border-bottom" style="color: black">Car Information</h2>
                <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
                    <div class="col-lg-8">
                        <div class="table-responsive">
                            <table class="table text-center">
                                <tbody>
                                    <tr>
                                        <th scope="row" class="text-start">Brand</th>
                                        <td> {{carinfo.brand|capfirst }}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row" class="text-start">Chassis Number</th>
                                        <td> {{carinfo.chassis_number }}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row" class="text-start">Mileage</th>
                                        <td> {{carinfo.mileage }}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row" class="text-start">Color</th>
                                        <td> {{carinfo.color }}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row" class="text-start">Engine</th>
                                        <td> {{carinfo.engine }}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row" class="text-start">Transmission</th>
                                        <td> {{carinfo.transmission|capfirst }}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row" class="text-start" >Price</th>
                                        <td style="color:red;"> {{carinfo.price }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card mb-4 rounded-3 shadow-sm">
                            <div class="card-header py-3">
                                <h4 class="my-0 fw-normal">Location</h4>
                            </div>
                            <div class="card-body">
                                <ul class="list-unstyled mt-3 mb-4">
                                    <li>{{ carinfo.location.city }}, {{ carinfo.location.state }},
                                        {{carinfo.location.zip_code }} </li>
                                </ul>
                                <button id="sendEmail" class="w-100 btn btn-lg btn-outline-primary"><a href= "https://wa.me/{{carinfo.seller.whatsapp_number}}" style="text-decoration:none">Chat on WhatsApp</a></button>
                                <button class="w-100 btn btn-lg btn-outline-primary my-3">{{carinfo.seller.phone_number}}</button>
                                <button id="sendEmail" class="w-100 btn btn-lg btn-outline-primary"><a href = "mailto:{{carinfo.seller.email}}"> Send Email </a></button>    
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container px-4 py-5">
                <div class="row g-4 py-5">
                    <div class="col d-flex align-items-start">
                        <div>
                            <h2 class="mb-3 border-bottom" style="color: black">Description</h2>
                            <p> {{ carinfo.description }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</main>

{% endblock content %}
