{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{{name}}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static "bootstrap/dist/css/bootstrap.min.css"%}">
        <link rel="stylesheet" href="{% static "bootstrap/dist/css/style.css"%}">
    </head>
    <body>
        <div class="d-flex h-100 text-center text-white index">
            <video autoplay muted loop id="myVideo">
                <source src="{% static 'videos/Automaxbg.mp4' %}" type="video/mp4">
            </video>
        <div class="d-flex w-100 h-100 p-3 mx-auto flex-column main-content">
            <header class="mb-auto">
                <div>
                    <h3 class="float-md-start mb-0">AutoMax</h3>
                    <nav class="nav nav-masthead justify-content-center float-md-end">
                        {% comment %} {% if request.user.is_authenticated %} {% endcomment %}
                        <a class="nav-link active" aria-current="page" href="{% url 'welcome' %}">Home</a>
                        {% comment %} {% else %} {% endcomment %}
                        <a href = "{% url "login" %}" class="nav-link">Login</a>
                        {% comment %} {% endif %} {% endcomment %}
                    </nav>
                </div>
            </header>
            <main class="px-3">
                <h2>Find a deal near you!</h2>
                <p class="lead">Looking to buy or sell a used car? We've got you
                    covered. </br> AutoMax is the leading used car marketplace.</p>
                <p class="lead">
                    <a href=""
                        class="btn btn-lg btn-secondary fw-bold border-white bg-white">Register</a>
                </p>
            </main>
    </body>
    <footer class="mt-auto text-white-50">
        <p>Copyright © {% now 'M Y' %} <a href="" class="text-white">AutoMax</a> by <a href="https://Automax.com"
                class="text-white">Automax.com</a></p>
    </footer>
</html>