{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
<title>Automax Login</title>
{% endblock title %}

{% block content %}
    <div class="container text-center">
        <div class = "form-signin">

            <h1>Login Page</h1>
            <img class="mb-4" src="{% static 'images/A.png' %}" alt="" width="72" height="72">

            <form action="" method="post">
                {% csrf_token %}
                {{ login_form | crispy }}
                <input type="Submit" value= "Login" class="w=100 btn btn-dark">
            </form>

            <hr>
            <p><a href="{% url "password_reset" %}">Forgotten your password?</a></p>
            <hr>
            <h5>Are You New to AutoMax? 
                <a href = "{% url "register"%}">Click to SignUp</a>
            </h5>
            <hr>

            <div>
                <p>Copyright © {% now 'Y' %} <a href="" class="text-dark">AutoMax</a> by <a href="https://Automax.com"
                class="text-dark">Automax.com</a></p>
            </div>
        </div>
    </div>

{% endblock content %}


