{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}<title>Reset your password</title>{% endblock %}

{% block content %}
<div class="container text-center">
    <h1>Forgotten your password?</h1>

    <p>Enter your e-mail address to obtain a new password</p>

    <form action="." method="POST">{{ form | crispy }}<p>
        {% csrf_token %}
    <hr>
    <input type="submit" value="Send E-mail" class="w=100 btn btn-dark"></p>
    </form>
</div>
{% endblock %}

{% block footer %}{% endblock footer %}