{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}<title>Reset your password</title>{% endblock %}

{% block content %}
<br>
<div class="container text-center">
    <h1>Reset your password</h1>
        {% if validlink %}
            <p>Please enter your new password twice:</p>
            <hr>
                <form action="." method="post">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <input type="submit" value="Change my password" class="w=100 btn btn-dark">
                </form>
            <hr>
        {% else %}
        <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset link.</p>
        {% endif %}
</div>

{% endblock %}

{% block footer %}

{% endblock footer %}