{% extends "base.html" %}
{% block title %}<title>Reset your password</title>{% endblock %}

{% block content %}

<br>
<div class="container text-center">
    <h1>Reset your password</h1>

        <p>We've emailed you instructions for reseting your password.</p>

        <p> Follow the Password reset link on your E-mail to reset your Password.</p>

        <p>If you didn't receive an email, please ensure you've entered the E-mail address you to register on AutoMax.</p>

</div>
{% endblock %}

{% block footer %}

{% endblock footer %}